.electric-card-detail {
  background-color: #c7b3a6;
  border-radius: 8px;
  margin: 20px;
  padding: 8px;
  width: 330px;
  height: 670px;
  text-align: center;
}

.electric-card-contour {
  border-radius: 8px;
  background: linear-gradient(to top, #ffd700, #d2ef72);
  height: 650px;
  padding: 10px;
}

.electric-img-detail {
  width: 120px;
  margin: auto;
  padding-top: 15px;
}

.electric-img-centre {
  border-radius: 8px;
  width: 290px;
  margin: auto;
  height: 165px;
  background: linear-gradient(to right, #ffffff, #ffd700, #c4ff00);
}
.electric-name-detail {
  text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.5);
  color: #050404 !important;
  font-size: 16px;
  font-family: "Pokemon";
}
.electric-cont-img {
  background-color: #393737;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 170px;
  margin: auto;
  padding-top: 5px;
  border-radius: 8px;
}

.electric-text-type {
  font-weight: bold;
  color: #3d0808;
}

.electric-abilities {
  border: 5px solid yellow;
  background: linear-gradient(to left,#ffd700, #d7f967);
  width: 150px;
  border-radius: 8px;
  margin-top: 20px;
}
.electric-text-abilities {
  font-weight: bold;
}

#electric-hp-bar {
  background-color: rgb(166, 243, 166);
}

#electric-atk-bar {
  background-color: rgb(220, 142, 8);
}

#electric-exp-bar {
  background-color: #94c8f9;
}

#electric-spd-bar {
  background-color: #9b708b;
}

#electric-def-bar {
  background-color: pink;
}
