.grass-card-detail {
    background-color: #c7b3a6;
    border-radius: 8px;
    margin: 20px;
    padding: 8px;
    width: 330px;
    height: 660px;
    text-align: center;
  }
  
  .grass-card-contour {
    border-radius: 8px;
    background: linear-gradient(to bottom, #97e497, #166116);
    height: 640px;
    padding: 10px;   
    
  }
  
  .grass-img-centre {
        border-radius: 8px;
        width: 290px;
        margin: auto;
        height: 165px;
        background: linear-gradient(to right,  #ffffff,#91cd75, #59c346);
        /* box-shadow: 0px 0px 10px rgba(242, 241, 241, 0.5);  */
      
  }
  .grass-name-detail {
    text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.5);
    color: #050404 !important; 
    font-size: 16px; 
    font-family: 'Pokemon';
  }
  .grass-cont-img {
    background-color: #393737;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 170px;
    margin: auto;
    padding-top: 5px;
    border-radius: 8px;
  }

  .grass-text-type {
    font-weight: bold;
    color: #3d0808;
  }

  .grass-abilities {
    border: 5px solid #aaec92;
    background: linear-gradient(to left, #91cd75, #347229);
    width: 150px;
    border-radius: 8px;
    margin-top: 20px;
  }
  .grass-text-abilities {
    font-weight: bold;
    /* border-bottom: 1px solid #3f3f3a; */
  }
  .grass-img-detail {
    width: 120px;
    margin: auto;
    padding-top: 20px;
  }
  #grass-hp-bar {
    background-color: rgb(180, 239, 176);
  } 
  
  #grass-atk-bar {
    background-color: rgb(72, 47, 47);
  }
  
  #grass-exp-bar {
    background-color: #8da8c1;
  }
  
  #grass-spd-bar {
    background-color: #e4ed63;
  }
  
  #grass-def-bar {
    background-color: pink;
  }