@import '../src/css/fire.css';

@font-face {
  font-family: 'PokemonFont';
  src: url('../public/font/Pokemon\ Hollow.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pokemon';
  src: url('../public/font/PokemonSolid.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #333;
  margin: 0;
  
}

.navbar {
  background-color: #292929;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.section-gauche {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 100%;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #8ac6ff; 
}
.section-droite {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pokedex-count {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f7f3f3;
}
h1 {
  text-align: center;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.card-list {
  background-color: #4c4c4d;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  width: 330px;
  height: 380px;
  text-align: center;
}
.card-contour-list {
  border-radius: 8px;
  background: linear-gradient(to bottom, #2c3e50, #8caec4);
  width: 310px;
  height: 360px;
  padding: 10px;
}


.pokemon-card {
  background: linear-gradient(to right, #3498db, #ffffff, #2c3e50);
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  width: 290px;
  height: 340px;
  text-align: center;
  transition: transform 0.2s ease-in-out;

  /* &:hover {
    transform: scale(1.05);
  } */
}
.contour-img-list {
  border-radius: 8px;
  width: 282px;
  margin: auto;
  height: 165px;
  background: linear-gradient(to right, #777979, #ffffff, #2c3e50);
}

.img-poke {
  background-color: #565555;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 170px;
  margin: auto;
  padding-top: 5px;
  border-radius: 8px;
}
.img-poke .img {
  width: 150px;
  height: 130px;
  margin: auto;
  padding-top: 20px;
  
}
.text-poke {
  margin-top: 10px;
}

.pokemon-id {
  font-weight: bold;
}

.pokemon-name {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Pokemon';
  
}
Link {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #555;
}

.pagination button.active {
  background-color: #f7f3f3;
}

.pagination .separator {
  margin: 0 8px;
  color: #f9f7f7;
  font-size: 16px;
}
.current-page {
  color: #eae4e4;
}

/* css detail */
.container-card-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
/* .card-detail {
  background-color: #626364;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  width: 330px;
  height: 650px;
  text-align: center;
} */
/* .card-contour {
  border-radius: 8px;
  background: linear-gradient(to bottom, #2c3e50, #3498db);
  height: 630px;
  padding: 10px;
} */
.type {
  line-height: 4px;
}
.top-card-detail {
  display: flex;
  justify-content: space-between;
}
.detail-droite {
  display: flex;
  align-items: center;
  gap: 10px;
}
.energy {
  width: 20px;
  height: 20px;
}

.type-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .abilities {
  border: 5px solid #ecb492;
  width: 150px;
  border-radius: 8px;
  margin-top: 20px;
} */
/* .cont-img {
  background-color: #393737;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 170px;
  margin: auto;
  padding-top: 5px;
  border-radius: 8px;
} */
/* .img-centre {
  border-radius: 8px;
  width: 290px;
  margin: auto;
  height: 165px;
  background: linear-gradient(to right, #3498db, #ffffff, #2c3e50);

} */
/* .img-detail {
  width: 120px;
  margin: auto;
  padding-top: 20px;
} */

/* .name-detail {
  text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.5);
  color: #050404 !important; 
  font-size: 16px; 
  font-family: 'Pokemon';
} */

.pv {
  font-size: 9px;
  margin-right: 5px;
}

.hp {
  font-weight: bold;
}

.taille-poid-detail {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.taille p, .poid p{
  margin:6px;
  font-weight: bold;
  
}
.taille, .poid {
  padding-top: 10px;
}
.text-tp {
  font-size: 10px;
}
.type-abilities {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;

}
.gauche-info {
  margin-top: 10px;
}
li {
  text-align: left;
  
}
.stat-bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  
}
.groupe {
  padding-top: 9px;
  margin-left: 8px;
}
.text-bar {
  font-size: 10px;
  text-align: left;
  font-weight: bold;
}









